---
import ContactForm from "./contactForm/ContactForm.astro";
---

<section class="contact-section">
  <ContactForm />
  <img src="/contactUs/contactUs-image.png" alt="" class="image-container" />
</section>

<style>
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f9f9;
  }

  .image-container {
    background-size: cover;
    background-position: center;
    padding: 4rem;
  }

  @media (max-width: 1000px) {
    .contact-section {
      grid-template-columns: 1fr;
    }

    .image-container {
      display: none;
    }
  }
</style>
