<footer>
    <section>
        <div class="subscribe">
            <img src="/img/dsgnr.png" alt="" /><span id="dsgnr">Ddsgnr</span>
            <p class="logo-descript">
                Join our newsletter to stay up to date on features and releases.
            </p>
            <div class="btn">
                <input type="text" class='subscribe-text' placeholder="Enter your email" />
                <button class="btn-subscribe">Subscribe</button>
            </div>
            <p class="btn-descript">
                By subscribing you agree to with our <span id="privacy"
                    >Privacy Policy</span
                > and provide consent to receive updates from our company.
            </p>
        </div>
        <div class="side-items">
            <div class="about">
                <h4>
                    <a href="/about"
                        >About Us</a
                    >
                </h4>
                <div class="about-subitems">
                    <li><a href='/'>Home</a></li>
                    <li><a href='/about'>About</a></li>
                    <li><a href='/services'>Services</a></li>
                    <li><a href='/#ourTeam'>Teams</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </div>
            </div>
            <div class="contact">
                <h4>
                    <a href="/contact"
                        >Contact</a
                    >
                </h4>
            </div>
            <div class="services">
                <h4>
                    <a href="/services"
                        >Services</a
                    >
                </h4>
                <div class="services-subitems">
                    <li>Window</li>
                    <li>Residential</li>
                    <li>Commercial</li>
                    <li>Aliartment</li>
                    <li>Residential</li>
                </div>
            </div>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="media">
                    <img src="/img/Facebook.png" alt="" /><p
                        class="followus-name"
                    >
                        Facebook
                    </p>
                </div>
                <div class="media">
                    <img src="/img/Instagram.png" alt="" /><p
                        class="followus-name"
                    >
                        Instagram
                    </p>
                </div>
                <div class="media">
                    <img src="/img/Twitter.png" alt="" /><p
                        class="followus-name"
                    >
                        Twitter
                    </p>
                </div>
                <div class="media">
                    <img src="/img/LinkedIn.png" alt="" /><p
                        class="followus-name"
                    >
                        LinkedIn
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="responsive-subscribe">
        <input
            type="text"
            class="res-subscribe-text"
            placeholder="Enter your email"
        />
        <button class='res-btn-subscribe'>Subscribe</button>
    </div>
  </section>

</footer>
<div class="responsive-media">
    <img src="/img/Facebook.png" alt="" />
    <img src="/img/Instagram.png" alt="" />
    <img src="/img/Twitter.png" alt="" />
    <img src="/img/LinkedIn.png" alt="" />
</div>
<div id="overlay"></div>

<hr />
<div class="copyright">
    <p>2025 Ddsgnr. All right reserved.</p>
    <ul>
        <li>Privacy Policy</li>
        <li>Terms of Service</li>
        <li>Cookies Settings</li>
    </ul>
</div>

<style>
  footer {
    padding: 2rem;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
  }
  #dsgnr {
    font-size: 25px;
    padding-left: 10px;
    font-weight: 700;
  }
  #privacy {
    border-bottom: 1px solid #171717;
  }
  .btn-descript {
    font-size: 12px;
  }
  .subscribe {
    flex: 1;
  }
  .side-items {
    display: flex;
    flex: 2;
    justify-content: space-around;
  }
  a,
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
  }
  li {
    list-style-type: none;
    padding: 10px 0;
  }
  .media {
    display: flex;
    align-items: center;
  }
  .media img {
    padding: 0;
    width: 25px;
    height: 25px;
    padding-right: 1rem;
  }

  .followus-name {
    margin: 0;
    padding: 10px 0;
  }

  hr {
    border: 1px solid grey;
  }
  .copyright {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  ul li {
    padding: 0;
    border-bottom: 1px solid #171717;
  }
  input,
  button {
    border-radius: 5px;
    border: 1px solid black;
  }
  input {
    width: 70%;
    height: 2rem;
    caret-color: rgb(255, 0, 234);
    font: 16px;
  }
  button {
    width: 20%;
    height: 2rem;
    font-size: 12px;
    background-color: black;
    color: white;
    margin-left: 0.3rem;
    transition: all 0.3s ease;

  }
  button:hover {
    background-color: #333;
    color: white;
    
  }
  .responsive-media {
    display: flex;
    justify-content: center;
  }
  .responsive-btn {
    width: 100%;
    position: relative;
    top: 50%;
    left: -50%;
  }
  .subscribe-btn {
    width: 30%;
  }
  .subscribe-text {
    width: 70%;
  }
  .responsive-media {
    display: none;
  }
  .contact,
  .responsive-subscribe {
    display: none;
  }
  @media (max-width: 700px) {
    section {
      flex-direction: column;
      margin-bottom: 0;
    }
    .subscribe,
    .about,
    .services {
      text-align: center;
    }

    .btn,
    .btn-descript,
    .logo-descript {
      display: none;
    }

    .copyright {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright ul {
      padding: 0;
      font-size: 12px;
    }
    .responsive-media {
        display: flex;
        justify-content: center;
        display: none;
    }
    .contact, .responsive-subscribe{
        display: none;
    }
    #overlay {
        width: 30%;
        height: 10%;
        position: fixed;
        top: 40%;
        left: 35%;
        background-color: rgba(232, 229, 229,1);
        border-radius: 5px;
        border: 1px solid grey;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        /* z-index: 999; */
        display: none;

    }
    .successFooter {
        color: green; 
        text-align: center;
    } 
    .errorFooter { 
        color: red;  
        text-align: center;
    } 
    @media (max-width: 700px) {
        section {
            flex-direction: column;
            margin-bottom: 0;
        }
        .subscribe,
        .about,
        .services {
            text-align: center;
        }

        .btn,.btn-descript,
        .logo-descript {
            display: none;
        }
        .copyright {
            padding: 0;
            flex-direction: column;
            justify-content: center;
        }
        .copyright ul {
            padding: 0;
            font-size: 12px;
        }
        .responsive-media {
            display: flex;
        }
        .responsive-media {
            gap: 2rem;
        }
        .follow {
            display: none;
        }
        .followus-name {
            display: none;
        }
        .about-subitems,
        .services-subitems {
            display: none;
        }
        .contact {
            display: block;
        }
        .responsive-subscribe {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.5rem;
        }
        .res-subscribe-text {
            width: 60%;
        }
        .responsive-subscribe button {
            width: 3.5rem;
            font-size: 9px;
        }
        #overlay{
            width: 70%;
            left: 10%;
        }
     }
</style>
<script>
    const btn = document.querySelector(".btn-subscribe");
    const responsiveBtn = document.querySelector(".res-btn-subscribe");
    const input = document.querySelector(".subscribe-text");
    const responsiveInput = document.querySelector(".res-subscribe-text");
    const overlay = document.getElementById("overlay");


    btn.addEventListener("click", () => {
        overlay.style.display = "flex";
        if(input.value.trim() === ""){
            overlay.textContent = 'Please enter your email.';
            overlay.className = 'errorFooter'; 
        }
        else{
            overlay.textContent = 'Subscribed! Thank you 😊';
            overlay.className = 'successFooter'; 

        }
    });

    responsiveBtn.addEventListener("click", () => {
        overlay.style.display = "flex";
        if(responsiveInput.value.trim() === ""){
            overlay.textContent = 'Please enter your email.';
            overlay.className = 'errorFooter'; 
        }
        else{
            overlay.textContent = 'Subscribed! Thank you 😊';
            overlay.className = 'successFooter'; 

        }
    });

    overlay.addEventListener("click", () => {
            overlay.style.display = "none";
    });

</script>
