<footer>
    <section>
        <div class="subscribe">
            <img src="/img/dsgnr.png" alt="" /><span>Ddsgnr</span>
            <p>
                Join our newsletter to stay up to date on features and releases.
            </p>
            <div class="btn">
                <input type="text" placeholder="Enter your email" />
                <button>Subscribe</button>
            </div>
            <p>
                By subscribing you agree to with our Privacy Policy and provide
                consent to receive updates from our company.
            </p>
        </div>
        <div class="side-items">
            <div class="about">
                <h4>About Us</h4>
                <li>Home</li>
                <li>About</li>
                <li>Services</li>
                <li>Teams</li>
                <li>Contact</li>
            </div>
            <div class="services">
                <h4>Services</h4>
                <li>Window</li>
                <li>Residential</li>
                <li>Commercial</li>
                <li>Aliartment</li>
                <li>Residential</li>
            </div>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="media">
                    <img src="/img/Facebook.png" alt="" /><p>Facebook</p>
                </div>
                <div class="media">
                    <img src="/img/Instagram.png" alt="" /><p>Instagram</p>
                </div>
                <div class="media">
                    <img src="/img/Twitter.png" alt="" /><p>Twitter</p>
                </div>
                <div class="media">
                    <img src="/img/LinkedIn.png" alt="" /><p>LinkedIn</p>
                </div>
            </div>
        </div>
    </section>

    <hr />
    <div>
        <p>2023 Ddsgnr. All right reserved.</p>
        <ul>
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Cookies Settings</li>
        </ul>
    </div>
</footer>

<style>
    footer {
        padding: 2rem;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }
    span{
        font-size: 25px;
        padding-left: 10px;
        font-weight: 700;
    }
    .subscribe {
        flex: 1;
    }
    .side-items {
        display: flex;
        flex: 2;
        justify-content: space-around;
    }
    li {
        list-style-type: none;
        padding: 10px 0;
    }
    .media{
        display: flex;
        align-items: center;
    }
    .media img{
        width: 25px;
        height: 25px;
        padding-right: 1rem;
    }
</style>
