<footer>
    <section>
        <div class="subscribe">
            <img src="/img/dsgnr.png" alt="" /><span id="dsgnr">Ddsgnr</span>
            <p class="logo-descript">
                Join our newsletter to stay up to date on features and releases.
            </p>
            <div class="btn">
                <input type="text" placeholder="Enter your email" />
                <button>Subscribe</button>
            </div>
            <p class="btn-descript">
                By subscribing you agree to with our <span id="privacy"
                    >Privacy Policy</span
                > and provide consent to receive updates from our company.
            </p>
        </div>
        <div class="side-items">
            <div class="about">
                <h4>
                    <a href="#" target="_blank" rel="noopener noreferrer"
                        >About Us</a
                    >
                </h4>
                <div class="about-subitems">
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Teams</li>
                    <li>Contact</li>
                </div>
            </div>
            <div class="contact">
                <h4>
                    <a href="#" target="_blank" rel="noopener noreferrer"
                        >Contact</a
                    >
                </h4>
            </div>
            <div class="services">
                <h4>
                    <a href="#" target="_blank" rel="noopener noreferrer"
                        >Services</a
                    >
                </h4>
                <div class="services-subitems">
                    <li>Window</li>
                    <li>Residential</li>
                    <li>Commercial</li>
                    <li>Aliartment</li>
                    <li>Residential</li>
                </div>
            </div>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="media">
                    <img src="/img/Facebook.png" alt="" /><p
                        class="followus-name"
                    >
                        Facebook
                    </p>
                </div>
                <div class="media">
                    <img src="/img/Instagram.png" alt="" /><p
                        class="followus-name"
                    >
                        Instagram
                    </p>
                </div>
                <div class="media">
                    <img src="/img/Twitter.png" alt="" /><p
                        class="followus-name"
                    >
                        Twitter
                    </p>
                </div>
                <div class="media">
                    <img src="/img/LinkedIn.png" alt="" /><p
                        class="followus-name"
                    >
                        LinkedIn
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="responsive-subscribe">
            <input
                type="text"
                class="subscribe-text"
                placeholder="Enter your email"
            />
            <button>Subscribe</button>
        </div>
    </div>
    <div class="responsive-media">
        <img src="/img/Facebook.png" alt="" />
        <img src="/img/Instagram.png" alt="" />
        <img src="/img/Twitter.png" alt="" />
        <img src="/img/LinkedIn.png" alt="" />
    </div>

    <hr />
    <div class="copyright">
        <p>2023 Ddsgnr. All right reserved.</p>
        <ul>
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Cookies Settings</li>
        </ul>
    </div>
</footer>

<style>
    footer {
        padding: 2rem;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        margin: 5rem 0;
    }
    #dsgnr {
        font-size: 25px;
        padding-left: 10px;
        font-weight: 700;
    }
    #privacy {
        border-bottom: 1px solid #171717;
    }
    .btn-descript {
        font-size: 12px;
    }
    .subscribe {
        flex: 1;
    }
    .side-items {
        display: flex;
        flex: 2;
        justify-content: space-around;
    }
    a,
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: blue;
    }
    li {
        list-style-type: none;
        padding: 10px 0;
    }
    .media {
        display: flex;
        align-items: center;
    }
    .media img {
        padding: 0;
        width: 25px;
        height: 25px;
        padding-right: 1rem;
    }

    .followus-name {
        margin: 0;
        padding: 10px 0;
    }

    hr {
        border: 1px solid grey;
    }
    .copyright {
        padding: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    ul li {
        padding: 0;
        border-bottom: 1px solid #171717;
    }
    input,
    button {
        border-radius: 5px;
        border: 1px solid black;
    }
    input {
        width: 70%;
        height: 2rem;
        caret-color: rgb(255, 0, 234);
        font: 16px;
    }
    button {
        width: 20%;
        height: 2rem;
        font-size: 12px;
        background-color: black;
        color: white;
        margin-left: 0.3rem;
    }
    button:hover {
        background-color: white;
        color: black;
        box-shadow: 5px 5px 3px grey;
    }
    .responsive-media {
        display: flex;
        justify-content: center;
    }
    .responsive-btn {
        width: 100%;
        position: relative;
        top: 50%;
        left: -50%;
    }
    .subscribe-btn {
        width: 30%;
    }
    .subscribe-text {
        width: 70%;
    }
    .responsive-media {
        display: none;
    }
    .contact, .responsive-subscribe{
        display: none;
    }
    @media (max-width: 700px) {
        section {
            flex-direction: column;
            margin-bottom: 0;
        }
        .subscribe,
        .about,
        .services {
            text-align: center;
        }
   
        .btn,
        .btn-descript,
        .logo-descript {
            display: none;
        }
        .copyright {
            padding: 0;
            flex-direction: column;
            justify-content: center;
        }
        .copyright ul {
            padding: 0;
            font-size: 12px;
        }
        .responsive-media {
            display: flex;
        }
        .responsive-media {
            gap: 2rem;
        }
        .follow {
            display: none;
        }
        .followus-name {
            display: none;
        }
        .about-subitems,
        .services-subitems {
            display: none;
        }
        .contact {
            display: block;
        }
        .responsive-subscribe{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.5rem;
        }
        .subscribe-text{
            width: 60%;
        }
        .responsive-subscribe button{
            width: 3.5rem;
            font-size: 9px;
        }

        /* .about:hover .about-subitems {
            display: block;
        }
        .services:hover .services-subitems {
            display: block;
        } */
    }
</style>
