<section>
    <div class="title">
        <h1>Our Services</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam.</p>
    </div>
    
    <div class="container">
        <div class="items">
            <img src="/img/bedroom.png" alt="">
            <h3>One Bedroom Apartment</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
        <div class="items">
            <img src="/img/window.png" alt="">
            <h3>Window Cleaning</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
        <div class="items">
            <img src="/img/residential.png" alt="">
            <h3>Residential Cleaning</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
        <div class="items">
            <img src="/img/construction.png" alt="">
            <h3>Construction Cleaning</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
        <div class="items">
            <img src="/img/commercial.png" alt="">
            <h3>Commercial Cleaning</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
        <div class="items">
            <img src="/img/two-bedroom.png" alt="">
            <h3>Two Bedroom Apartment</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nostrum!</p>
        </div>
    </div>
</section>

<style>
    section{
        padding: 0;
        margin: 0;
        background-color: #F7F7F7;
        text-align: center;
    }
    h1{
        font-size: 48px;
    }
    img{
        width:380px;
    }
    .title{
        padding: 5rem;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 0 0.5rem 5rem 0.5rem;
    }
    .items{
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #676767;
        border-radius: 5px;
    }
    h3{
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 0;
        font-size: 24px;
    }
    p{
        /* padding-bottom: 1.5rem; */
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
</style>