<section>
    <h1>Subscribe to our newsletter</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos recusandae velit, debitis tempora nemo corporis!</p>
    <div class="sign-up">
        <div class="text">
            <input type="text" placeholder="Enter your email">
            <button>Sign Up</button>
        </div>
        <p>By clicking Sign Up you're confirming that you agree with our Terms and Conditions.</p>
    </div>
</section>

<style>
    *{
        padding: 0;
        margin: 0;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sign-up{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>